body,
html {
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  background-image: url(assets/tile.png);
  background-repeat: repeat;
  background-size: 30px 30px;
  background-color: #fbfbfb;
  height: 100%;
}

#leftcard {
  width: 150px;
  background-color: #fff;
  border: 1px solid #e8e8ef;
  box-sizing: border-box;
  padding-top: 85px;
  padding-left: 20px;
  height: 100%;
  position: absolute;
  z-index: 2;
}

#blocklist {
  height: calc(100% - 220px);
  overflow: auto;
}

.block {
  background-color: #fff;
  margin-top: 0px !important;
  box-shadow: 0px 4px 30px rgba(22, 33, 74, 0.05);
}

.blockelem {
  padding-top: 10px;
  width: 100px;
  border: 1px solid transparent;
  transition-property: box-shadow, height;
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0.05, 0.03, 0.35, 1);
  border-radius: 5px;
  box-shadow: 0px 0px 30px rgba(22, 33, 74, 0);
  box-sizing: border-box;
  text-align: center;
}
.blockelem:hover {
  box-shadow: 0px 4px 30px rgba(22, 33, 74, 0.08);
  border-radius: 5px;
  background-color: #fff;
  cursor: pointer;
}

.blocktitle {
  margin: 0px !important;
  padding: 0px !important;
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  color: #393c44;
}

#canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 150px;
  z-index: 0;
  overflow: auto;
}

.blockdisabled {
  background-color: #f0f2f9;
  opacity: 0.5;
}
